<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONEST - Controle de estoque</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <h1>CONEST</h1>

    <footer>
        <p id="dataAtual">segunda-feira, 24 de junho de 2024</p>
        <img src="../public/img/dboff.png" alt="dboff" id="status">
    </footer>
    <script src="renderer.js"></script>
</body>
</html>